{% extends 'base.html' %}
{% block content %}
<h2>Listado de Ventas</h2>
<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Total</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    {% for venta in ventas %}
    <tr>
      <td>{{ venta.codigo }}</td>
      <td>{{ venta.cliente }}</td>
      <td>{{ venta.fecha }}</td>
      <td>${{ venta.total }}</td>
      <td><a href="{% url 'venta_detail' venta.pk %}" class="btn btn-sm btn-primary">Ver</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}