services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: inventario
      POSTGRES_USER: inventario_user
      POSTGRES_PASSWORD: inventario_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: /app/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_NAME=inventario
      - DB_USER=inventario_user
      - DB_PASSWORD=inventario_pass
      - DB_HOST=db
      - DB_PORT=5432

volumes:
  postgres_data:
