{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>{{ producto.nombre }}</h2>
  <p><strong>Descripción:</strong> {{ producto.descripcion|default:"Sin descripción" }}</p>
  <p><strong>Precio:</strong> ${{ producto.precio }}</p>
  <p><strong>Stock:</strong> {{ producto.stock }} unidades</p>

  <a class="btn btn-sm btn-warning" href="{% url 'productos:producto_update' producto.pk %}">Editar</a>
  <a class="btn btn-sm btn-danger" href="{% url 'productos:producto_delete' producto.pk %}">Eliminar</a>
  <a class="btn btn-secondary" href="{% url 'productos:producto_list' %}">Volver</a>
</div>
{% endblock %}